*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body, html {
  height: 100vh;
  font-family: 'Helvetica Neue', sans-serif;
}

body {
  margin: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 80%;
      grid-template-columns: auto 80%;
  -ms-grid-rows: (7)[auto];
      grid-template-rows: repeat(auto, 7);
  grid-gap: 0.1vh;
  background-color: #eee;
      grid-template-areas: " navbar Intro " " navbar Basics  " "navbar Baby_Steps " "navbar Loops " " navbar Hello_World  " " navbar Data_Structures " "navbar footer ";
}

nav {
  -ms-grid-row: 1;
  -ms-grid-row-span: 7;
  -ms-grid-column: 1;
  grid-area: navbar;
  display: block;
  width: 100%;
  margin: 0 auto;
  padding: 14px 16px;
  font-size: 17px;
  text-align: center;
  background-color: #fff;
}

nav #Header {
  color: #9933ff;
}

nav #Header:hover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  color: transparent;
  background: url(https://proxy.duckduckgo.com/iu/?u=https%3A%2F%2Fupload.wikimedia.org%2Fwikipedia%2Fcommons%2Fthumb%2F0%2F0a%2FPython.svg%2F768px-Python.svg.png&f=1);
  height: 40px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

nav a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 22px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  text-decoration: none;
  color: black;
}

nav a:hover {
  background: black;
  color: #fff;
}

.nav-link {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#main-doc {
  width: 100%;
  overflow-y: auto;
  padding: 5px;
  height: 600px;
}

code {
  display: block;
  text-align: left;
  background-color: #f7f7f7;
  border-radius: 5px;
}

section {
  padding: 10px;
  background-color: #fff;
}

section h1 {
  text-align: center;
}

section:nth-of-type(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: Intro;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section:nth-of-type(2) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: Basics;
}

section:nth-of-type(3) {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: Baby_Steps;
}

section:nth-of-type(4) {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  grid-area: Loops;
}

section:nth-of-type(5) {
  -ms-grid-row: 5;
  -ms-grid-column: 2;
  grid-area: Hello_World;
}

section:nth-of-type(6) {
  -ms-grid-row: 6;
  -ms-grid-column: 2;
  grid-area: Data_Structures;
}

footer {
  -ms-grid-row: 7;
  -ms-grid-column: 2;
  grid-area: footer;
  background-color: #fff;
  font-size: 11px;
  font-style: italic;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (max-width: 750px) {
  body {
    margin: 0;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    -ms-grid-rows: (8)[auto];
        grid-template-rows: repeat(auto, 8);
        grid-template-areas: "navbar" "Intro" "Basics" "Baby_Steps" "Loops" "Hello_World" "Data_Structures" "footer";
  }
  nav {
    display: block;
    overflow-y: auto;
    height: 100px;
  }
}
/*# sourceMappingURL=style.css.map */